
        <!-- Body -->
        <div class="card-body text-center">

            <div class="fw-light text-dark" style="font-size: 8rem;">
                {{ card?.proposal || "遊" }}
            </div>
        </div>


        <!-- Footer -->
        <div class="card-footer">
            <!-- Choices -->
            <div class="d-flex flex-column flex-md-row flex-wrap justify-content-between">

                @if(card?.choices ) {
                @if(loadingCheckState == 'disabled') {
                    @for(choice of card?.choices; track $index) {
                    <button (click)="onCheck($index, card)" type="button" class="btn choice flex-fill my-1 mx-md-1">
                        {{ choice.label | uppercase }}
                    </button>
                    }
                    }
                    @if(loadingCheckState == 'enabled') {
                    <div class="w-100 py-3 d-flex justify-content-center align-items-center">
                        <div class="spinner-border text-danger" aria-hidden="true"></div>
                        <span class="ms-2">Vérification...</span>
                    </div>
                    }
                }

            </div>
        </div>

