<header>

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-danger">
  <div class="container-fluid">
    <!-- Logo textuel -->
    <a class="navbar-brand text-danger fw-bold" href="#">NipponStyle</a>

    <!-- Bouton toggle pour mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Liens centrés (Home et About) -->
    <div class="position-absolute start-50 translate-middle-x">
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fw-bold" href="#about">About</a>
        </li>
        @if(username) {
        <li class="nav-item">
          <a class="nav-link text-danger fw-bold" href="#about">Bienvenue, <strong>{{ username }}</strong></a>
        </li>
      }
      </ul>
    </div>

    <!-- Contenu du menu hamburger -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        @if(!username) {
        <li class="nav-item">
          <a class="btn btn-outline-danger me-2 fw-bold" routerLink="/login" routerLinkActive="active">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-danger fw-bold" routerLink="/register" routerLinkActive="active">Inscription</a>
        </li>
        }
        @if(username) {
        <li class="nav-item">
          <a class="btn btn-outline-danger me-2 fw-bold" (click)="protected()">Mon
            Profil</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-danger fw-bold" (click)="logout()">Déconnexion</a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
</header>