<main class="container my-5">
    <!-- Section Hero -->
    <section class="text-center">
        <h1 class="fw-bold text-danger">Mot de passe oublié</h1>
        <p class="text-muted">Entrez l'adresse email associée à votre compte pour recevoir un lien de réinitialisation.
        </p>
    </section>

    <!-- Section Formulaire -->
    <section class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <form (submit)="onSubmit()" [formGroup]="form">
                <div class="mb-3">
                    <label for="email" class="form-label fw-bold text-danger">Adresse email</label>
                    <input formControlName="email" type="text" id="email" name="email" class="form-control"
                        placeholder="Votre adresse email" required>
                    @if(form.get("email")?.touched &&
                    form.get("email")?.invalid) {
                    @if(form.get('email')?.hasError('pattern')) {
                    <small class="text-danger fst-italic">Saisissez une adresse email correcte</small>
                    } }
                </div>
                <div class="text-center mt-4">
                    <button [disabled]="!form.valid" type="submit" class="btn btn-danger text-white fw-bold">Envoyer le
                        lien</button>
                </div>
            </form>
        </div>
    </section>

    <!-- Section Call-To-Action -->
    <section class="text-center mt-5">
        <p class="text-muted">Vous vous souvenez de votre mot de passe ?</p>
        <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn btn-outline-danger fw-bold">Retour à la connexion</a>
    </section>
</main>