<!-- Body -->
<div class="card-body text-center">
    <!-- Kanji Display -->
    <div style="font-size: 8rem; font-weight: bold; color: #333;">{{ card?.proposal || "Jouer" }}</div>
</div>

<!-- Footer -->
<div class="card-footer">
    <!-- Choices -->
    <div class="d-flex flex-column flex-md-row flex-wrap justify-content-between">

        @if(card?.choices ) {
            @for(choice of card?.choices; track $index) {
            <button (click)="onCheck(choice.correct)" type="button"
                class="btn btn-outline-primary flex-fill my-1 mx-md-1">{{ choice.label | uppercase
                }}</button>
            }
        }


    </div>
</div>