<main class="container my-5">
    <!-- Section Hero -->
    <section class="text-center">
        <h1 class="fw-bold text-danger">Réinitialisation du mot de passe</h1>
        <p class="text-muted">Veuillez entrer un nouveau mot de passe et confirmer pour sécuriser votre compte.</p>
    </section>

    <!-- Section Formulaire -->
    <section class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <form (submit)="onSubmit()" [formGroup]="form">
                <!-- Champ Mot de passe -->
                <div class="mb-3">
                    <label for="password" class="form-label fw-bold text-danger">Nouveau mot de passe</label>
                    <input formControlName="password" type="password" id="password" name="password" class="form-control"
                        placeholder="Entrez un nouveau mot de passe" required>
                    <!-- Message d'erreur pour le champ mot de passe -->
                    @if(form.get("password")?.touched &&
                    form.get("password")?.invalid) {
                    @if(form.get('password')?.hasError('pattern')) {
                    <small class="text-danger fst-italic">Le mot de passe doit contenir au moins 8 caractères, une
                        majuscule, une minuscule, un chiffre et un caractère spécial.</small>
                    } }
                </div>

                <!-- Champ Confirmation du mot de passe -->
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label fw-bold text-danger">Confirmez le mot de
                        passe</label>
                    <input formControlName="confirmPassword" type="password" id="confirmPassword" name="confirmPassword"
                        class="form-control" placeholder="Confirmez votre nouveau mot de passe" required>
                    <!-- Message d'erreur pour la confirmation -->
                    @if(form.get("confirmPassword")?.touched &&
                    form.get("confirmPassword")?.invalid) {
                    @if(form.get('confirmPassword')?.hasError('confirmPassword')) {
                    <small class="text-danger fst-italic">Le mot de passe doit contenir au moins 8 caractères, une
                        majuscule, une minuscule,
                        un chiffre et un caractère spécial.</small>
                    } }
                    @if (form.errors?.['passwordMismatch'] && form.get('confirmPassword')?.touched) {
                    <small class="text-danger fst-italic">Les mots de passe ne correspondent pas.</small>
                    }
                </div>

                <!-- Bouton Soumettre -->
                <div class="text-center mt-4">
                    <button [disabled]="!form.valid" type="submit"
                        class="btn btn-danger text-white fw-bold">Réinitialiser</button>
                </div>
            </form>
        </div>
    </section>

    <!-- Section Call-To-Action -->
    <section class="text-center mt-5">
        <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="text-danger fw-bold">Retour à la
            connexion</a>
    </section>
</main>