<div class="container my-4">
    <div class="row justify-content-start gx-5 gy-4">
        @for (err of listErrors; track err; let i = $index) {
        <div class="col-12 col-sm-6 col-md-5 col-lg-4 position-relative">
            <div class="card border rounded shadow-sm p-3">

                <!-- Numéro discret en haut à droite -->
                <div style="position: absolute; top: 6px; right: 10px; font-size: 0.9rem; color: #999;">
                    #{{ i + 1 }}
                </div>

                <div class="d-flex align-items-stretch mt-4">
                    <!-- Kanji à gauche -->
                    <div class="me-3 d-flex align-items-center">
                        <span style="font-size: 6rem; ">{{ err.proposal }}</span>
                    </div>

                    <!-- Séparateur vertical visible et plein -->
                    <div style="width: 1px; background-color: #c7bbbb;"></div>

                    <!-- Réponses à droite -->
                    <div class="ms-3 d-flex flex-column justify-content-center">
                        <span class="text-success fw-bold text-uppercase">
                            ✔ {{ err.correct }}
                        </span>
                        <span class="text-danger fw-bold text-uppercase text-decoration-line-through mt-2">
                            ✖ {{ err.unCorrect }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>