
html, body { height: 100%; }
body { margin: 0; font-family: "Sawarabi Mincho", sans-serif; }

.spinner {
    width: 1rem;
    height: 1rem;
    border: 2px solid #ccc;
    border-top: 2px solid #333;
    border-radius: 50%;
    display: inline-block;
    animation: spin 1s linear infinite;
    margin-right: 0.5rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.nav-link.active {
    background-color: #f0f0f0;
    border-radius: 5px;
}
